<div class="container">
    <div class="row">
        <p>Go To APIs</p>
    </div>
    <div class="row">
        <div class="col-sm-12 d-flex">
            <a class="col-sm-2" routerLink="overview" routerLinkActive="active" class="nav-link-inserted"><mat-icon aria-hidden="false" aria-label="Example home icon" class="material-symbols-outlined" fontIcon="overview"></mat-icon>Overview</a>
            <a class="col-sm-2" routerLink="subscriptions" routerLinkActive="active" class="nav-link-inserted"><mat-icon aria-hidden="false" aria-label="Example home icon" class="material-symbols-outlined" fontIcon="star"></mat-icon>Subscriptions</a>
            <a class="col-sm-2" routerLink="api-docs" routerLinkActive="active" class="nav-link-inserted"><mat-icon aria-hidden="false" aria-label="Example home icon" class="material-symbols-outlined" fontIcon="star"></mat-icon>Try it</a>
            <a class="col-sm-2" routerLink="definitions" routerLinkActive="active" class="nav-link-inserted"><mat-icon aria-hidden="false" aria-label="Example home icon" class="material-symbols-outlined" fontIcon="star"></mat-icon>Definitions</a>
            <a class="col-sm-2" routerLink="comments" routerLinkActive="active" class="nav-link-inserted"><mat-icon aria-hidden="false" aria-label="Example home icon" class="material-symbols-outlined" fontIcon="star"></mat-icon>Comments</a>
            <a class="col-sm-2" routerLink="documents" routerLinkActive="active" class="nav-link-inserted"><mat-icon aria-hidden="false" aria-label="Example home icon" class="material-symbols-outlined" fontIcon="star"></mat-icon>Documents</a>
        </div>
    </div>
    <div class="row mt-3">
        <router-outlet></router-outlet>
    </div>
</div>
